<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">공지사항</h1>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3"></div>
			<div class="card-body">
				<div class="form-group">
					<h3 th:text="${detailNoticeBoard.title}"></h3>
					<div class="row">
						<div class="col">
							<span>&#91;[[${detailNoticeBoard.departmentName}]]&#93;&#09;[[${detailNoticeBoard.writerName}]]&#09;[[${detailNoticeBoard.positionName}]]</span>
						</div>
						<div class="col" style="text-align: right">
							<span>[[${detailNoticeBoard.createdDate}]]</span>
						</div>
					</div>
					<hr>
					<div style="height:447px">
						<pre><span th:text="${detailNoticeBoard.content}"></span></pre>
					</div>
					<br>
					<div>
						<a th:href="@{/noticeBoard}" class="btn btn-outline-primary" style="float:left">목록</a>
						<a th:href="@{/deleteNoticeBoard(boardId=${detailNoticeBoard.boardId})}" class="btn btn-outline-danger" style="float:right">삭제</a>
						<a th:href="@{/modifyNoticeBoard(boardId=${detailNoticeBoard.boardId})}" class="btn btn-outline-success mr-2" style="float:right">수정</a> 
					</div>
				</div>
				<th:block th:if="${detailNoticeBoard.allowComment} == 'Y'">
				<br>
				<hr>
					<div class="card">
						<div class="card-body" th:each="cl : ${commentList}">
							<div>
								<span class="card-title" style="font-size:13px">
									&#91;[[${cl.departmentName}]]&#93; [[${cl.name}]] [[${cl.positionName}]]
								</span>
							</div>
							<div class="my-2">
								<pre><span class="card-text" style="font-size:14px">[[${cl.commentContent}]]</span></pre>
							</div>
							<div class="mb-2">
								<span class="card-text" style="font-size:12px">[[${cl.createdDate}]]</span>
							</div>
							<div>
								<button class="btn btn-outline-primary btn-sm">답글</button>
							</div>
						</div>
					</div>
					<form th:action="@{/comment}" method="post">
						<div class="card">
							<div class="card-header">
								&#91;[[${loginInfo.departmentName}]]&#93; [[${loginInfo.name}]] [[${loginInfo.positionName}]]
							</div>
							<div class="card-body">
								<input type="text" th:value="${detailNoticeBoard.boardId}" name="boardId" hidden="hidden">
								<textarea class="card-text form-control" rows="2" maxlength="3000" name="commentContent" style="resize:none; border: none"></textarea>
								<div style="float:right">
									<button type="submit" class="btn btn-primary" id="commentBtn">등록</button>
								</div>
							</div>
						</div>
					</form>
				</th:block>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>
</html>