<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="${title}"></title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<link href="vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<script src='fullcalendar-6.1.10/dist/index.global.min.js'></script>
<script type='text/javascript'>
	document.addEventListener(
		'DOMContentLoaded',
		function() {
			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(
					calendarEl,
					{
						googleCalendarApiKey : 'AIzaSyCMVKABETlOSf2VLJw30P_krzl_bzoSoX0',
						eventSources : [{
							googleCalendarId : '3011d25eb6dadc58eeff677908aaf6a8105e167a6021687a31cf0c53465fa236@group.calendar.google.com',
							className : '그룹웨어',
							color : '#204051',
							textColor : 'black',
							dayMaxEventRows : true, // for all non-TimeGrid views
							views : {
								timeGrid : {
									dayMaxEventRows : 6
								// adjust to 6 only for timeGridWeek/timeGridDay
								}
							},
						} ]
					});
			calendar.render();
		});
</script>
<style>
#calendar {
	max-width: 1100px;
	max-height: 100%;
	margin: 0 auto;
}
</style>
</head>
<body id="page-top">
	<div id="wrapper">
		<!-- sidebar(좌측메뉴) start -->
		<!-- sidebar(좌측메뉴) end -->
		<div th:replace="~{fragments/sideFragment :: sideFragment}"></div>

		<!-- Contents Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- navibar(상단메뉴) start -->
				<div th:replace="~{fragments/naviFragment :: naviFragment}"></div>
				<!-- navibar(상단메뉴) end -->

				<th:block layout:fragment="customContents">
				</th:block>

			</div>

			<!-- footer(하단메뉴) start -->
			<div th:replace="~{fragments/footerFragment :: footerFragment}"></div>
			<!-- footer(하단메뉴) end -->

		</div>
		<!-- End of Content Wrapper -->
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/chart-area-demo.js"></script>
	<script src="js/demo/chart-pie-demo.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/datatables-demo.js"></script>
</body>
</html>